extends layout.pug

block styles
  link(rel='stylesheet' href='/css/login.css')

block content
  div.form-holder
    if error
      div.error-message #{error}
    form.login-form(method='POST' action='/login')
      input(type='password' placeholder='Password' name='password')
      
      button(type='submit') Log In